@font-face {
  font-family: 'Jeonju_gakR';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2102-01@1.0/Jeonju_gakR.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

*{margin: 0; padding: 0; box-sizing: border-box; color: #333;}

@keyframes fadeInUp1 {
  0% {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
  }
  to {
      opacity: 1;
      transform: translateZ(0);
  }
}
@keyframes fadeInUp2 {
  0% {
      opacity: 0;
      transform: translate3d(0, 40%, 0);
  }
  to {
      opacity: 1;
      transform: translateZ(0);
  }
}

@keyframes motion {
	0% {
    top: 0px;
  }
	100% {
    top: 4px;
  }
}

